@model PagedList.IPagedList<NorthwindShop.Models.Products>
@using PagedList.Mvc;

<link href="~/Content/CSS/PagedList.css" rel="stylesheet"  type="text/css" />

@{
    ViewBag.Title = "Confections";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="confections">
    <ul type="square">

        @foreach (var b in Model)
        {
            <li><a  href="/Product/Confection/@b.ProductID" > @b.ProductName</a></li>
        }

    </ul>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Confections", new { page }))

