
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuyProduct</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/CustomScripts/RedirectScript.js" type="text/javascript" ></script>
</head>
<body>

    <h1 style="text-align:center;">Thank you for choosing us</h1>
    <h1 style="text-align:center;">You will be redirected ! :) </h1>

</body>
</html>
