
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="CartLayout">
    

    <ol>
      
     <li><b>Name:</b> @ViewBag.ourProduct.ProductName <b>Count:</b> </li>
    
    </ol>

    


</div>