
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="CartLayout">
    
        @{
            if (Request.Cookies["Product"] != null)
            {
                <ol>
                    <li><b>Name:</b> @ViewBag.ourProduct.ProductName <b>Count:</b> @ViewBag.Count </li>
                </ol>
                    <div>
                        @using (Html.BeginForm("BuyProduct", "Product"))
                {
                            <input type="submit" value="Buy" />
                        }
                    </div>

                    }
                    }
               

</div>