
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="CartLayout">
    <ol>
        @{
            if (Request.Cookies["Product"] != null)
            {
                <li><b>Name:</b> @ViewBag.ourProduct.ProductName <b>Count:</b> @ViewBag.Count </li>

            }
        }
    </ol>

</div>